<%-include('../partials/head') -%>
<%-include('../partials/header') -%>

<!-- Banner section -->
<section class="banner" id="banner">

</section>

<!-- Companies section -->
<section class="companies" id="companies">



        <h1>Name: <%= details[0].name %></h1>
        <img height="200px" src="<%= details[0].image_url %>"/>
        <p>Industry: <span id="companyIndustry"><%= details[0].industry %></span></p>
        <p>Number of employees: <span id="companyEmployees"></span></p>
        



  </section>

<%-include('../partials/footer')-%>

<script src="scripts/companyScript.js"></script>
</body>
</html>
