    <%-include('../partials/header') -%>
    <%-include('../partials/banner') -%>
    <!-- Banner section -->
    <section class="banner" id="banner">
        <div class="banner-container">
            <div class="content">
                <!-- Text content in the banner -->
                <p>Read reviews. <br>
                    Write reviews. <br>
                    Find your next trustworthy partner.</p>
                <div class="banner-button">
                    <!-- Button to read reviews -->
                    <a href="#" class="button">Read Reviews</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Companies section -->
    <section class="companies" id="companies">
        <div class="companies-container">
            <div class="companies-title-container">
                <!-- Title for the section -->
                <h2>Top-Rated ESG Companies</h2>
            </div>

            <div class="companies-card-container">
                <!-- Individual company cards with images and links -->

                <form id='company-form' action="#" method="POST">
                    <div>
                        <% companies.forEach(function(company) { %>

                            <button class="company-button" value='<%= company.cvr %>'><%= company.name %></button>

                        <% }); %>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- jquery code to handle company card click -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/indexScript.js"></script>

    <%-include('../partials/footer')-%>
    